body {
    font-family: "Sriracha";
    background: linear-gradient(to right, #bdc3c7, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.menu {
    font-family: "Sriracha";
    margin: 0 auto;
    width: 60%  
}

#NewBlog_Error {
    text-align: center;
}
label {
    margin-bottom: 0 !important;
}

main {
    border: solid 3px rgba(0,0,0,.25);
    padding: 50px;
    margin: 50px;
    border-radius: 30px;
    background: rgba(255,255,255,.85);
}
#error {
    color: red;
}

.header {
    background-color: aliceblue;
}
p, h2{
    text-align: center;
    display: inline-block;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: right;
    display: flex;
    justify-content: space-around;
}

.section {
    display: inline-block;
}

.article {
    display: inline-block;
}
.blogCard {
    font-family: 'Sriracha', cursive;
    width: 60%;
    margin: 20px auto;
    border: solid 2px rgba(0,0,0,.25);
    border-radius: 22px;
    max-height: 300px;
}
.blogCard_Top {
    border-radius: 20px 20px 0 0;
    background: lightgray;
    display: flex;
}
.blogCard_Top_Content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.blogCard_Top img {
    border-radius: 50%;
    margin: 10px;
}
.username {
    text-align: left;
    margin: 0;
}
.timestamp {
    color: rgba(0,0,0,.5);
    font-style: italic;
    font-size: 10px;
    text-align: left;
}

.blogCard_Bottom {
    background: white;
    border-radius: 0 0 20px 20px;
}

.blogCard_Bottom p {
    margin: 10px;
    max-height: 100px;
    text-align: left;
    overflow: hidden;
}

.blogCard_Bottom_Buttons {
    padding: 10px;
}
.blogCard_Bottom_Buttons div {
    width: 70px;
}

.userImage {
    height: 50px;
    width: 50px;
    margin: auto;
}
.footer p {
    background-color: gainsboro;
    position: fixed;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
}

p_footer {
    margin: 0 auto;
    text-align: center;
}

.footer {
    margin: 0 auto;
}